[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "dein.vim"]
	path = dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
